---
layout: default
---
<div id="main">
  <section>
    {% for post in paginator.posts limit:1 %}
      <header>
        <h1>{{ post.title }}</h1>
        <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %} • {{ post.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
      </header>
      <section>
        {{ post.content }}
        <p class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="button"><strong>&#9998;</strong> Edit post</a></p>
      </section>
    {% endfor %}
  </section>

  <section>
    <div class="row">
      {% for post in paginator.posts offset:1 %}
        <article class="{% cycle '6u', '6u$' %} 12u(small)">
          <header>
            <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
          </header>
          <section>
            {{ post.excerpt }}
          </section>
          <footer>
            <ul class="actions">
              <li><a href="{{ post.url }}" class="button">Read More</a></li>
              <li class="editor-link"><a href="cloudcannon:collections/{{ post.path }}" class="button"><strong>&#9998;</strong> Edit post</a></li>
            </ul>
          </footer>
        </article>
      {% endfor %}
    </div>
  </section>
  
  <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">Önceki</a>
  {% else %}
    <span class="previous">Önceki</span>
  {% endif %}
  <span class="page_number ">Sayfa: {{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">Sonraki</a>
  {% else %}
    <span class="next ">Sonraki</span>
  {% endif %}
</div>
  
  
</div>
